################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CodeGenerator
/CodeGenerator/obj
/.vs/ProjectEvaluation
